<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hemsida</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>

    <div class="container text-center">
      <h1 class="">Bilder</h1>
      <h3>Kalender</h3>
      {{calender|safe}}
      <h3>Data</h3>
      {{data|safe}}
      <h3>Användare</h3>
      {% if names %}
<ul>
{% for name in names %}
    <li>{{ name|e }}</li>
{% endfor %}
</ul>
{% endif %}
      <p>
        <br>
      </p>
  <div class="row align-items-center">
    <div class="col">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisl massa, ullamcorper sed condimentum ut, convallis in lacus.
      Phasellus non justo mattis dolor porttitor eleifend. Duis eget luctus lorem. Phasellus.
      <p><br></p>
      <img src="../static/road.jpg" class="img-fluid" alt="road">
    </div>
    <div class="col">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse risus mi, molestie sed mollis id, porta eget augue.
      Vestibulum ipsum purus, lobortis ac elementum a, tempus sed ligula. Etiam semper.
      <br>
      <img src="../static/forest.jpg" class="img-fluid" alt="forest">
    </div>
    <div class="col">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac massa justo. Praesent vel lectus auctor orci ultrices fringilla ut ut orci.
      Pellentesque tempus massa neque. Vestibulum posuere diam mauris.
      <br>
      <img src="../static/sunset.jpg" class="img-fluid" alt="sunset">
    </div>
  </div>
</div>
<p>
  <br>
</p>
<div class="container overflow-hidden text-center">
  <div class="row gy-5">
    <div class="col-6">
      Nullam non urna vehicula, tempus odio eget, ultrices ligula. Aenean a efficitur ex. Donec varius maximus elit sed dignissim. Duis accumsan mattis lorem. In mattis orci porttitor dui efficitur, ac cursus massa fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tincidunt metus sit amet egestas pulvinar. Sed ornare id magna id auctor. Etiam vel risus a ante venenatis ornare a in diam. Cras eleifend viverra nibh at hendrerit. Mauris augue lorem, laoreet vitae dolor at, gravida lacinia lorem. Vestibulum dapibus, dui vitae posuere luctus, turpis nulla vestibulum odio,
      nec bibendum quam tortor quis ligula. Sed sed ante eget mauris aliquet sollicitudin. Sed vitae fermentum ante. Mauris eget neque id massa vestibulum convallis.
      <p>
        <br>
      </p>
    </div>
    <div class="col-6">
      Vivamus finibus vulputate augue. Nam viverra, felis sit amet gravida commodo, massa orci molestie mauris, et pharetra ipsum orci non nisl. Nam vitae risus convallis, hendrerit diam quis, maximus sapien. Etiam ut risus velit. In interdum eget orci tempor condimentum. Vivamus venenatis odio quis justo consequat, nec dapibus dolor eleifend. Etiam mollis rutrum lectus, in dapibus ante auctor pharetra.
    </div>
  </div>
  <div class="row gy-5">
    <div class="col-6">
      Integer sit amet egestas lacus. Etiam porta urna nec velit pretium vehicula a in enim. Nulla eget quam id tellus pretium laoreet. Nulla purus diam, consequat vitae consequat in, feugiat in elit. Integer nulla urna, fermentum et orci et, scelerisque accumsan libero. Pellentesque consectetur, velit non fringilla bibendum, dui ligula commodo purus, nec egestas diam sapien id libero. Quisque tincidunt pretium est a ullamcorper. Etiam finibus erat orci, sed vehicula lorem varius ac. Suspendisse ut dignissim sem. Ut convallis sapien at orci dictum faucibus.
      Nunc vitae justo auctor, pulvinar libero a, aliquam dui. Quisque vel ultricies neque. Aliquam at risus metus. Proin nunc diam, sodales ac iaculis id, congue id quam. Suspendisse lacinia aliquam dolor, vitae semper nunc bibendum eget.
    <p>
        <br>
      </p>
    </div>
    <div class="col-6">
      Vestibulum elementum tempor orci a mollis. Aenean hendrerit suscipit pulvinar. Maecenas ultrices mi eu erat auctor, nec gravida purus consequat. Phasellus id facilisis purus. Nunc laoreet ac tortor non lacinia. Sed maximus dui nec nulla faucibus fermentum. Ut feugiat ligula quis libero sagittis, id pretium ipsum bibendum. Morbi sed nibh eu magna eleifend mollis. Quisque a elit posuere, condimentum elit nec, volutpat dui. Etiam rutrum ante ullamcorper erat venenatis gravida.
      Praesent massa erat, auctor ut enim nec, efficitur dignissim dolor. Praesent aliquam tempor arcu id euismod.
    <p>
        <br>
      </p>
    </div>
  </div>
</div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>